<ion-header>
  <ion-navbar>
    <ion-title>Pedido</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let produto of produtos; let i = index">
    <ion-card-content>
      <ion-grid >
        <ion-row>
          <ion-col col-6>
            <h2>{{ produto.nome }}</h2>
            <p *ngIf="produto.ilimitado === 0">{{ produto.quantidade }}un</p>
            <p *ngIf="produto.ilimitado === 1">Ilmimitado</p>
            <h2 class="valor">{{ produto.valor | currency:'BRL':true }}</h2>
          </ion-col>
          <ion-col col-6 text-right padding-top>
            <div>
              <ion-icon name="remove-circle" style="zoom: 2;" color="danger" (click)="removerQuantidade(produto)"></ion-icon>
              <span style="font-size: 20px; padding-left: 10px; padding-right: 10px;"> {{ produto.qtd > 0 ? produto.qtd : 0 }} </span>
              <ion-icon name="add-circle" style="zoom: 2;" color="secondary" (click)="adicionarQuantidade(produto)"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-4 text-center>
        <button ion-button color="dark" type="button" (click)="limpar()">LIMPAR</button>
      </ion-col>
      <ion-col col-4 text-center>
        <div> Total </div>
        <div style="font-size: 20px"> {{ total | currency:'BRL':true }} </div>
      </ion-col>
      <ion-col col-4 text-center>
        <button ion-button color="secondary" type="button" (click)="salvar()">SALVAR</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
