<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dashboard</ion-title>
    <ion-buttons end>
      <button ion-button (click)="bluetooth()">
        <ion-icon name="print" style="zoom: 1.5"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content text-center>
  <ion-grid margin-top>
    <ion-row>
      <ion-col col-12 padding-left padding-right padding-bottom (click)="pedido('produto')" *ngIf="model.venda === 1">
        <div style="border: 1px solid #cdcdcd; background-color: #f1f1f1; border-radius: 5px; box-shadow: 0px 0px 10px #888888">
          <ion-row>
            <ion-col col-5 text-center style="padding: 23px 0px">
              <ion-icon name="cart" style="zoom: 3.0"></ion-icon>
            </ion-col>
            <ion-col col-7>
              <h5 padding-top padding-bottom>VENDA</h5>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
      <ion-col col-12 padding-left padding-right padding-bottom (click)="pedido('transporte')" *ngIf="model.estacionamento === 1">
        <div style="border: 1px solid #cdcdcd; background-color: #f1f1f1; border-radius: 5px; box-shadow: 0px 0px 10px #888888">
          <ion-row>
            <ion-col col-5 text-center style="padding: 23px 0px">
              <ion-icon name="car" style="zoom: 3.0"></ion-icon>
            </ion-col>
            <ion-col col-7>
              <h5 padding-top padding-bottom>ESTACIONAMENTO</h5>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
      <ion-col col-12 padding-left padding-right padding-bottom (click)="estornar()">
        <div style="border: 1px solid #cdcdcd; background-color: #f1f1f1; border-radius: 5px; box-shadow: 0px 0px 10px #888888">
          <ion-row>
            <ion-col col-5 text-center style="padding: 23px 0px">
              <ion-icon name="cash" style="zoom: 3.0"></ion-icon>
            </ion-col>
            <ion-col col-7>
              <h5 padding-top padding-bottom style="color: #f53d3d">ESTORNAR</h5>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div padding>
    <button ion-button block color="dark" type="button" (click)="relatorio()">RELATÓRIO</button>
    <button ion-button block color="primary" type="button" (click)="fecharCaixa()">FECHAR CAIXA</button>
  </div>


<!--
  <ion-grid>
    <ion-row>
      <ion-col col-6 padding (click)="pedido('produto')">
        <div style="border: 1px solid #f1f1f1" padding-top>
          <ion-icon name="cart" style="zoom: 3.0"></ion-icon>
          <h5>Venda</h5>
        </div>
      </ion-col>
      <ion-col col-6 padding (click)="pedido('transporte')">
        <div style="border: 1px solid #f1f1f1" padding-top>
          <ion-icon name="car" style="zoom: 3.0"></ion-icon>
          <h5>Estacionamento</h5>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <button ion-button secondary menuToggle>Toggle Menu</button>-->
</ion-content>
