<ion-header>
  <ion-toolbar>
    <ion-title>
      Finalizar Pedido
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">
        <ion-icon name="md-close" style="zoom: 1.5"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of produtos">
      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <h1>{{ item.nome }}</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            Quantidade: {{ item.quantidade }}
          </ion-col>
          <ion-col col-6 text-right>
            Subtotal: {{ item.valor * item.quantidade | currency:'BRL':true }}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer style="background-color: #F2F2F2;">
  <h4 margin-top text-center>Total: {{ total | currency:'BRL':true }}</h4>
  <ion-grid no-margin padding *ngIf="tipo === 'finalizar'">
    <ion-row>
      <ion-col col-6>
        <ion-item style="border: 1px solid #D8D8D8">
          <ion-input type="number" style="border-bottom: none !important" [(ngModel)]="valorPago" (keyup)="calculaTroco()" name="valorPago" placeholder="Valor Pago"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6 text-center>
        <h4 style="padding-top: 14px">Troco: {{ troco | currency:'BRL':true }}</h4>
      </ion-col>
      <ion-col col-6>
        <button ion-button block [color]="formaPagamento === 'dinheiro' ? 'primary' : 'light'"  type="button" (click)="formaPagamentoEstorno('dinheiro')">DINHEIRO</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button block [color]="formaPagamento === 'cartão' ? 'primary' : 'light'" type="button" (click)="formaPagamentoEstorno('cartão')">CARTÃO</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid no-margin padding *ngIf="tipo === 'estornar'">
    <ion-row>
      <ion-col col-6>
        <button ion-button block [color]="formaPagamento === 'dinheiro' ? 'primary' : 'light'"  type="button" (click)="formaPagamentoEstorno('dinheiro')">DINHEIRO</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button block [color]="formaPagamento === 'cartão' ? 'primary' : 'light'" type="button" (click)="formaPagamentoEstorno('cartão')">CARTÃO</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div padding-left padding-right padding-bottom>
    <button ion-button block color="dark" type="button" (click)="imprimir()" *ngIf="tipo === 'finalizar'">IMPRIMIR</button>
    <button ion-button block color="dark" type="button" (click)="estornar()" *ngIf="tipo === 'estornar'">ESTORNAR</button>
  </div>
</ion-footer>
